@page
@model IndexModel
@{
    ViewData["Title"] = "Knowledge Sharing Platform";
}
    <div class="text-center">
        <h3>'KNOWLEDGE INCREASES BY SHARING NOT BY SAVING.'</h3>
    </div>
    <div class="text-center">
        <H4>Find information you need in the flow of work.</H4>
    </div>
    <div class="text">
        <p> This platform is a system that contains a knowledge base as well as modern features that encourage users to exchange information in real time. Like traditional knowledge bases, knowledge sharing platforms can be either internal or external-facing.<p>
    </div>
     <div class="text">
         <div class="text">
             <ul>
                 <h5>Functionalities</h5>
                 <li>People from different backgrounds and learning curves come together to share ideas and perspective to solve the same problem  </li>
                 <li>Participants learn about other fields and learn the value of other streams of education and widen their thinking and approach to problem solving.</li>
                 <li>Mentors and advisors provide practical feedback for the problem at hand. </li>
                 <li>Puts in touch with each other for professional development. Provides opportunities for networking.</li>
             </ul>
         </div>
        <p>This is a knowledge sharing OPEN platform to everyone.</p>
    </div>
     <div class="text-right">
       
       <h5>IMPORTANCE OF THESE PLATFORMS</h5>
       <ul-right>
            
            <li>It boosts employee engagement</li>
            <li>Knowledge sharing reduces the costs of training</li>
            <li>Sharing generates new ideas</li>
            <li>Helps develop a supportive corporate community</li>
       </ul>
    </div>



<p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>



<div class="text-right">
    <p>The current time on the server is @Model.todaysDate</p>
    <p>@@arnavkathpal</p>
    <p>email me at amillerman01@@stclaircollege.ca</p>
    
</div>
